@page "/resenyas/detailsresenya"

<h3>DetailsResenya</h3>



@using AppForSEII2526.Web.API
@inject AppForSEII2526APIClient apiclient
@inject ILogger<DetailsResenya> logger
@inject ResenyaStateContainer resenyaState
@inject NavigationManager navigation

<div class="container-fluid">
    <div class="row alert alert-danger" role="alert" hidden="@hideErrors">
        <p id="ErrorsShown">Errors: @errors</p>
    </div>
    <div class="row">
        <div class="col-8">
            <div class="row">
                <div class="col">
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">Id</span>
                        <input type="text" id="inputId" @bind=resenyaId class="form-control" placeholder="Id" aria-label="Id" aria-describedby="basic-addon1">
                    </div>
                </div>
                <div class="col">
                    <button type="button" class="btn btn-primary" @onclick=@SearchResenya id="searchId">Buscar Reseña</button>
                </div>
            </div>
            <div class="row">
                <div class="row">
                    @if (resenya == null)
                    {
                        <p>Introduce el id de la reseña para buscar</p>
                    }
                    else
                    {
                        <div class="mh-100 table-responsive">
                            <table class="table table-condensed table-hover" id="TableOfBocadillos">
                                <thead>
                                    <tr>
                                        <th>Nombre Bocadillo</th>
                                        <th>Precio</th>
                                        <th>Tamaño</th>
                                        <th>Puntuación</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var linea in resenya.lineas)
                                    {
                                        <tr id="BocadilloData_@linea.Name">
                                            <td>@bocadillo.Name</td>
                                            <td>@bocadillo.TipoPan</td>
                                            <td>@bocadillo.Pvp</td>
                                            <td>@bocadillo.TamanyoBocadillo</td>
                                            <td>
                                                <button class="btn btn-outline-secondary" id="bocadilloParaResenyar_@bocadillo.Name" @onclick="@(() => AddBocadillo(bocadillo))">Añadir</button>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>

                    }
                </div>
            </div>
        </div>

    </div>

</div>

@code {



}
